* {
  margin: 0px;
}

.wb-title {
  color: rgb(200, 49, 112);
  font-weight: bold;
}

.food-title-color {
  color: rgb(200, 49, 112);
}

ul .nav-link {
  font-family: 'Roboto'
}

.drop-me{
  margin-right: 80px;
}

.hover-user:hover {
  font-weight: bold;
}

.hover-drop-user:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* .carousel {
  max-height: 30vh;
} */

.get-started-button:hover {
  background-color: rgb(200, 49, 112);
  border: none;
}

.image-height {
  max-height: 500px; 
}

.features {
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.features-items {
  text-align: center;
  padding: 10px;
}

@media screen and (min-width: 480px) {
  .dopdown-media {
    display: inline;
    margin-left: 0px;
    padding-left: 0;
  }
}